* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    background-color: black;
}

h3 {
    color: aqua;
    padding: 5px;
}

p {
    color: white;
    padding: 5px;
}